{
  "extends": "stylelint-config-standard",
  "rules": {
    "string-quotes": "double",
    "number-leading-zero": "always",
    "max-empty-lines": 2,
    "at-rule-empty-line-before": [ "always", {
      except: [ "blockless-group", "first-nested" ],
      ignore: ["after-comment"],
    } ],
    "at-rule-name-space-after": "always",
    "at-rule-no-unknown": false
  }
}
